<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>controller.ConnectionDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiveData</servlet-name>
        <servlet-class>controller.ReceiveData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createProduct</servlet-name>
        <servlet-class>controller.createProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProduct</servlet-name>
        <servlet-class>controller.CreateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>controller.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controller.DeleteProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnectionDB</servlet-name>
        <url-pattern>/ConnectionDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveData</servlet-name>
        <url-pattern>/ReceiveData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createProduct</servlet-name>
        <url-pattern>/createProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProduct</servlet-name>
        <url-pattern>/CreateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
